@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #e8e8e8;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

#display {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 40px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.digits {
    width: 400px;
}

.operators {
    width: 200px;
}

/*TODO: Fix styling for buttons and make them properly wrap. 
        Create different boxes for digits and operators*/
.button {
    width: 100px;
    height: 50px;
    font-size: 32px;
}