@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #e8e8e8;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    font-size: 60px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.calculator {
    width: 100%;
    max-width: 405px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border: black 3px solid;
    border-radius: 15px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 32px;
    border: 3px solid #000;
    border-radius: 15px;
    background-color: #fff;
    vertical-align: bottom;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px black solid;
}

.numbers {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.top-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
}

#clear, #backspace {
    width: 50%;
    height: 50px;
    font-size: 32px;
    background-color: lightcoral;
}

#clear:hover, #backspace:hover{
    background-color: #ff6666;
}
#clear:active, #backspace:active{
    background-color: #ff3333;
}

.button {
    width: 100px;
    height: 50px;
    font-size: 32px;
    background-color: white;
    border: 1px black solid;
    transition-duration: 50ms;
}

.button:hover {
    background-color: #e8e8e8;
}

.button:active {
    background-color: #c8c8c8;
}

.footer a{
    text-decoration: none;
    color: white; 
    transition-duration: 100ms;
}

.footer a:hover{
    text-decoration: none;
    color: red; 
    font-size: 19.5px;
}

.footer {
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 20px;
    background-color: black;
    color: white;
    position: fixed;
}

@media only screen and (max-width: 600px) {
    .calculator {
        width: 60%;
        max-width: 400px;
    }

    #display {
        font-size: 24px;
        height: 40px;
    }

    .button {
        font-size: 20px;
        width: 60px;
        height: 40px;
    }

    #clear, #backspace {
        font-size: 25px;
    }
}

@media only screen and (max-width: 400px) {
    .calculator {
        width: 70%;
        max-width: 350px;
    }

    #display {
        font-size: 20px;
        height: 30px;
    }

    .button {
        font-size: 16px;
        width: 40px;
        height: 30px;
    }

    #clear, #backspace {
        font-size: 20px;
    }
}